<!DOCTYPE html>
 <html lang="ko">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>내 웹 포트폴리오</title>
        <link rel="stylesheet" href="styles.css"> <!-- CSS 파일 연결 -->
    </head>
    <nav>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
        <a href="#comment">Comment</a>
      </nav>
      
      <section id="about">
        <h1>About Me</h1>
        <p>저는 풀스택 개발자입니다.</p>
      </section>
      
      <section id="projects">
        <h1>Portfolio</h1>
        <p>여기에 프로젝트 리스트가 들어갑니다.</p>
      </section>
      
      <section id="contact">
        <h1>Contact</h1>
        <p>hyesuc_seo@naver.com</p><br>
        <p>hyesuc.seo@gmail.com</p>
      </section>

      <section id="message">
        <h1>여기에 코멘트가 들어갑니다</h1>
      </section>
 </html>
  